.excel-dragger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: rozanovaBold;
    font-size: 2rem;
    margin-top: 1.5rem;

    &__drag-and-drop {
        padding: 2rem 6rem;
        border: dashed 2px $color-secondary;
        border-radius: 1.6rem;
        transition: all .2s;

        &--on-drag {
            background-color: $color-grey-dark;
        }

    }

    &__paragraph,
    &__upload-icon {
        pointer-events: none;
    }

    &__paragraph {
        color: $color-primary;
        white-space: nowrap;
    }

    &__upload-icon {
        height: 8rem;
        width: 8rem;
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        fill: $color-primary;
    }

    &__input {
        display: none;
    }

    &__label-for-input {
        cursor: pointer;
        text-decoration: underline;
        pointer-events: all;
    }

}