@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.518);
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.3);
    }
}

@mixin buttonBasic($color: $color-white, $background-color: $color-primary, $margin: 0, $padding: 1.1rem 1.6rem, $box-shadow: $box-shadow-primary) {
    outline: none;
    border: none;
    padding: $padding;
    border-radius: .5rem;
    margin: $margin;
    background-color: $background-color;
    color: $color;
    cursor: pointer;
    transition: transform .2s, background-color .05s;

    &:hover,
    &:active {
        transform: translateY(-2px);
        box-shadow: $box-shadow;
    }

    &:active {
        background-color: $background-color;
        transform: translateY(-1px);
    }
}