// COLORS
$color-primary: #3d74f5;
$color-primary-dark: #315ec8;
$color-secondary: #b1b1b1;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #cacaca59;
$color-grey-dark: rgba(154, 154, 154, 0.6);